      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1 style="margin-left: 0;">Seo Server</h1><br />
        <p>Easily index your Javascript application by simply forwarding spider bots using our short codes. We provide you with monitoring tools and all the features you need to stay on top of your search rankings.</p><br />
        <p><a class="btn btn-primary btn-large register">Register &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>How?</h2>
          <p>Seo Server acts as a middle man and returns the correct content to crawlers. We also generate a sitemap.xml for your Javascript applications.</p>
        </div>
        <div class="span4">
          <h2>Pricing</h2>
          <p>Pricing will most likely be based on the number of pages your site has.</p>
       </div>
        <div class="span4">
          <h2>Open source</h2>
          <p>The engine that powers the service is open source in the event that you wish to take control of maintaing your search rankings.</p>
        </div>
      </div>
<div class="modal hide fade" id="register">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Register</h3>
  </div>
  <div class="modal-body">
   <form class="form-register">
  <label>Email</label>
  <input type="email" required name="email" autofocus placeholder="Email address">  
  <label>Password</label>
  <input type="password" required name="password" placeholder="Tricky but memorable...">  
  </div>
  <div class="modal-footer">
    <button type="submit" href="#" class="btn btn-primary btn-register">Register</button>
  </div>
</form>
</div>