  <h2>Sites</h2>

<div class="well">
  Some instructions go here such as point your bots at <br />
  <code>RewriteRule /home/thomas/grill</code><br />
  <a href="">More instructions</a>
</div>

<button class="btn btn-primary">Add Site</button>
<div style="clear: both;"></div>

<table class="table  table-bordered" style="margin-top: 20px;">
  <thead>
    <tr>
      <th>Domain</th>
      <th>Plan</th>
      <th>Unique Pages</th>
      <th style="width: 82px;"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>app.apiengine.io</td>
      <td>Plan 1</td>
      <td>120</td>
      <td>
          <button class="btn btn-warning">Edit Site</button>
      </td>
    </tr>

  </table>